{% extends "myapp/base.html" %}

{% block title %}
Login here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="title">
            <br>
            <h1 class="title-reg">Login</h1>
        </div>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <p>Don't have an account? Create one <a href="/register">here</a></p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}

