@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

nav{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: lato;
    border-bottom: 1px solid black;
    background-color: white;
    border-top-left-radius: 5px 0px 0px;
}

.logo{
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-size: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    list-style: none;
}

.title-reg{
    font-size: 40px;
    font-weight: 200;
    padding-top: 5vh;
}

.logo h4{
    font-size: 15px;
}

.nav-links{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-around;
    width: 30%;
    z-index: 9999;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

.intro{
    height: 90vh;
    margin: auto;
    width: 100%;
}

.card{
    padding-right: 0%;
}

.card-body{
    padding: 2vh;
}

.text{
    font-family: lato;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 5px;
}
.Status{
    width: 500;
}
.submit{
    padding-top: 10px;
}

.forms{
    padding-top: 20vh;
    padding-right: 20vh;
}

.jumbo{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 15vh;
    z-index: -4;
}
.jumbo2{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 5px;
    z-index: -1;
}
.jumbo3{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 5px;
    z-index: -1;
}

.homepic{
    padding-top: 15vh;
    display: block;
    width: 45vh;
    padding-left: 25px;
}

.disclaimer{
    text-align: left;
    padding-left: 15%;
    padding-top: 5px;
    z-index: -1;
}

.circ{
    position: absolute;
    top: 50%;
    right: 25%;
    z-index: -1;
    height: 40%;
}

.middle{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingg{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.user_name{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 15vh;
    z-index: -4;
}

@media screen and (max-width: 1000px){
    .homepic{
        padding-top: 15vh;
        display: block;
        width: 40vh;
        padding-left: 25px;
    }
}

@media screen and (max-height: 376px){
    .jumbo{
        padding-left: 30%;
        font-size: 30px;
        align-items: center;
    }
    .jumbo2{
        padding-left: 30%;
        font-size: 30px;
        align-items: center;
    }
    .jumbo3{
        padding-left: 30%;
        font-size: 30px;
        align-items: center;
    }
    .disclaimer{
        font-size: 15px;
        text-align: left;
        padding-left: 30%;
        padding-top: 5px;
        z-index: -1;
    }
    

}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #cbcdd1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .logo{
        padding-top: 10px;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .card-body{
        padding: 10px, 10px, 10px,0;
    }

    .jumbo{
        font-size: 50px;
        align-items: center;
    }
    .jumbo2{
        font-size: 50px;
        align-items: center;
    }
    .jumbo3{
        font-size: 50px;
        align-items: center;
    }

    .homepic{
        padding-top: 15vh;
        display: block;
        width: 30vh;
        padding-left: 25px;
    }

    .circ{
        height: 20%;
    }
}

@media screen and (max-width: 375px){
    .homepic{
        opacity: 0;
    }
    .jumbo{
        font-size: 50px;
        align-items: center;
    }
    .jumbo2{
        font-size: 50px;
        align-items: center;
    }
    .jumbo3{
        font-size: 50px;
        align-items: center;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) ;

}

