{% extends "myapp/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="title">
        <br>
        <h1 class="title-reg">Register</h1>
    </div>
    <form method='POST' class='form-group'>
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class ="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}