{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'myapp/css/style.css'%}">
    <title>story 10</title>
  </head>

  <body>
    <nav>
        <div class="logo">
            <h4>Jerome Zebua</h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
                {% if user.is_authenticated %}
                <li>
                    <a href="/logout">Logout</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                {% endif %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="welcome col">
                <h1 class="jumbo">Hello.</h1>
                <h1 class="jumbo2">Welcome</h1>
                {% if user.is_authenticated %}
                    <h1 class="jumbo3">{{ user.username }}</h1>
                {% else %}
                    <h1 class="jumbo3">Stranger</h1>
                    <p class="disclaimer">You are not logged in <a href="/login">login</a></p>
                {% endif %}
            </div>

            <div class="mainpic col">
                <img class="homepic" src="{% static 'myapp/pictures/mainpage.svg' %}" alt="">
            </div>
        </div>

    </div>

    <script src="{%static 'myapp/js/app.js'%}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>