{% extends "myapp/base.html" %}

{% block title %}
Account
{% endblock %}


{% block content %}
    <div class="container">
        <div class="profiles">
            {% if user.is_authenticated %}
            <h1 class="user_name">Hello, {{ user.username }}</h1>
            <p class="user_email">{{ user.email }}</p>
            {% else %}
            <p class="disclaimer">You are not logged in <a href="/login">login</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
